@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Merienda:wght@700&display=swap');
html{
  overflow-x: hidden;
}
button{
  cursor: pointer;
}

/* Signup.js css */
#SignupForm{
  background-image:url("assets/FORsiginup.jpg") ;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:0 ;
  text-align: center;
  overflow-x: hidden;
  overflow-y:hidden ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover ;
  opacity: .89;
}
#SignupForm div {
  display: flex;
  flex-direction: row;
  margin: 10px;
}
#SignupForm div input{
  width: 40vw;
}
#SignupForm #email{
  width: 82vw;

}

/* Login.js css */
#LoginForm{
  background-image:url("assets/bgForLogin.jpg") ;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y:hidden ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover ;
  margin-top:0 ;
  opacity: .89; 
}

.loginInput{
  
  outline: none;
  font-size: 24px;
  border: none ;
  border-bottom: 4px solid black;
  background-color: transparent;
  color: white;
}
.loginButton{
  font-size: 24px;
  background: none;
  border: 3.5px solid rgb(4, 139, 201);
  color:white;
  font-weight: bolder;
  font-family: monospace;
  padding: 5px 10px;
  margin: 20px 10px;
  border-radius: 10px;
  transition: 200ms;
}

#loginButton:hover{
  background: rgb(4, 139, 201);
}

.loginInput::placeholder{
  color: white;
}
/* Alert.js css */
#alert_parent{
  background: rgb(0, 140, 255);
  font-size: 20px;
  left: 4.5px;
  font-family: monospace;
  font-weight: bolder;
  color: white;
  margin: 10px;
  position: fixed;
  top: .2px;
  width: 90vw;

  padding: 10px;
  border: 4px solid rgb(2, 64, 105);
  border-radius: 10px;
  

  
}



/* AddNote.js */
.form{
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  align-items: center;
  width: 100vw;
  margin: 20px 0;
}

#description , .form input {
  width: 80vw;
  font-size:22px ;
  padding: 5px;
  letter-spacing: 2px;
  margin: 10px ;

}
.form h2{
  font-family: 'Akaya Kanadaka';
  margin: 15px;
  width: 80vw;
  text-align: left; 
}
.btn_container {
  width: 80vw;
  display: flex;
  justify-content: space-around; 
  text-align: center;
  align-items: center;
}
#tooltip{
  color: red;
  text-align: center;
  
}
.btn{
  width: 10vw;
  margin-top: 20px;
  background-color: #FF5200;
  color: white;
  padding: 8px;
  font-size: 18px;
  font-family: 'Merienda', cursive;
  font-weight: bolder;
  border: 4px groove #e44901;
  border-radius: 4px;

}

/* HOME.JS */
.notesPara{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  font-size: 24px;
}
.notesPara h2{
  font-family: 'Viaoda Libre';
  width: 100vw;
  text-align: center; 

}


/* UserNotes.js */
.notesCollection{
  font-size: 22px;
  width: 100vw;
  text-align: center; 
  
}


/* NoteItem.js */
.parentNoteDiv{
  border: 2px solid black;
  padding: 4px;
  margin: 14px;
  display: inline-block;
  /* width: 30vw; */
  font-size: 20px;
  text-align: left;
  border-radius: 10px;
}
.parentNoteDiv h4{
  font-family: 'Viaoda Libre';
  font-size: 24px;
  font-weight: bolder;
  color: blueviolet;
  
}
.parentNoteDiv p{
  padding: 4px;
  font-family: "Merienda";
}
.icons button{
  background: none;
  outline: none;
  margin: 3px;
  padding: 3px;
  border: none;
  cursor: pointer;
  
}
.icons button i{
  margin: 2px 5px 5px 15px;
  font-size: 20px;
  padding: 2px 2px 2px 2px;
}
/* updationForm */
.updationForm{
  transition:  300ms;
  display: none;
  position:fixed;
  left: 30vw;
  text-align: left;
  width: 40vw;
  top: 10px;
  background: rgb(173, 250, 255);
  margin: 10px;
  border-radius: 10px;
  
  
  
}
.updationForm textarea , .updationForm input  {
  width: 30vw;
  background: none;
  outline: none;
  border:none;
  border: 6px solid white;
}

.updationForm h3{
  margin: 15px;
  width: 30vw;
  text-align: left;
  font-family: 'Akaya Kanadaka';

}

#CancelNoteBtn{
  border-color: rgb(122, 2, 2);
  background-color: rgb(252, 76, 76);
}
#updateNoteBtn{
  margin: 10px;
  background: rgb(77, 158, 252);
  border-color: rgb(0, 17, 255);
  border-style: solid;
}
/* #addNoteBtn:disabled:hover{
  
} */
button:disabled{
  background-color: #ffaa83;
}